.homediv {
  width: 73%;
  padding: 60px 180px;
  display: flex;
  background-color: beige;

}
.homepic {
  width: 70%;
}

.homepic img {
  height: 380px;
  width: 97%;
  border-radius: 100px;
  padding: 20px;
}
.homedescription {
  width: 30%;
  margin: 20px;
  
}
