body{
    margin: 0;
    padding: 0;
}
.header{
    background-color: beige;
    height: 40px;
    color: white;
}
.navbar{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.navbar li{
    margin: 10px;
}
.navbar a{
    color: brown;
    text-decoration: none;
}

